@import 'normalize';
@import 'transition';
@import 'utils';

html
  color: $white
  background-color: lighten($black, 10)
  font-family: 'Roboto', '微軟正黑體', sans-serif;

#app
  width: 100%
  min-width: 320px
  margin: 0 auto
  >
    .comics, .comicDetail, .comicChapter
      padding: 74px 0 52px 0
